{% extends 'base.html' %}
{% block title %} Food Receipe {% endblock %}
{% block content %}

    <div class="container col-6 p-2 mt-3 text-center text-warning">
        <h2>All Fresh Foods are Here</h2>
    </div>

    <div class="container-fluid p-3 mt-3">
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <img class="rounded" src="{{ recipe.image.url }}" alt="{{ recipe.name }}" width="250" style="height: 200px; object-fit: cover;">
                            <h5 class="card-title mt-2">{{recipe.name}}</h5>
                            <p class="card-text">{{recipe.description}}</p>
                            <p class="card-text">${{recipe.price}}</p>
                            <a href="{% url 'order' recipe.id %}"><button class="btn btn-dark">Order Now</button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}