{% extends 'base.html' %}
{% block title %}Order Confirmation{% endblock %}
{% block content %}

<div class="container col-10 p-3 mt-2">
    <div class="container col-6 p-1 px-5 mt-3 text-center text-warning">
        <h2>Order Confirmation</h2>
    </div>

    <form id="order-form" method="post" action="{% url 'confirm_order' %}">
        {% csrf_token %}
        <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
        <div class="row">
            <div class="col-6">
                <div class="form-group mt-3">
                    <label for="username">Name</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group mt-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" required>
                </div>
                <div class="form-group mt-3">
                    <label for="phone">Phone Number</label>
                    <input type="text" class="form-control" id="phone" name="phone" required>
                </div>
                <div class="form-group mt-3">
                    <label for="quantity">Quantity</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" min="1" value="1" required>
                </div>
                <div class="form-group mt-3">
                    <label for="price">Price per Unit</label>
                    <input type="text" class="form-control" id="price" name="price" value="{{ recipe.price }}" readonly>
                </div>
                <div class="form-group mt-3">
                    <label for="total">Total Price</label>
                    <input type="text" class="form-control" id="total" name="total" value="{{ recipe.price }}" readonly>
                </div>
            </div>
            <div class="col-6">
                <div class="p-4 m-auto mt-4 text-center">
                    <img class="rounded" src="{{ recipe.image.url }}" alt="{{ recipe.name }}" width="400" style="height: 250px; object-fit: cover;">
                    <h3 class="card-title mt-3">{{ recipe.name }}</h3>
                    <p class="card-text mt-3">${{ recipe.price }}</p>
                    <button type="submit" class="btn btn-success mt-1">Confirm Order</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById('quantity').addEventListener('input', function() {
        var quantity = parseFloat(this.value);
        var price = parseFloat(document.getElementById('price').value);
        var total = quantity * price;
        document.getElementById('total').value = total.toFixed(2);
    });

</script>
{% endblock %}